.container, .row{
  height: 100%;
}

.container_700{
  height: 100%;
  width: 700px;
  margin: 0 auto;
}

.debug [class*="col-"] {
  height: 200px;
  background-color: pink;
  border: 1px solid red;
}

/* classi UTILITY */



/* header */

header{
  background-color: #1ABC9C;
  height: 600px;
}

/* nav */

nav{
  height: 80px;
  background-color: #2C3E50;
}

nav .col-lg-6{
  height: 80px;
  background-color: yellow;
  border: 1px solid black;
}

/* main */

main{
  margin-top: 40px;
  text-align: center;
}

/* PORTFOLIO SECTION */

.box_portfolio{
  background-color: yellow;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

#portfolio .row{
  margin-bottom: 10px;
}

/* ABOUT SECTION */

#about{
  background-color: #1ABC9C;
  color: white;
  padding: 60px 0;
}

/* CONTACT ME SECTION */

/* FOOTER */

footer{
  background-color: #2C3E50;
  height: 200px;
}

/* media query XS */

@media screen and (max-width: 768px) {

  .container_768{
    max-width: 768px;
    margin: 0 auto;
  }
}
